/* this is the CSS styling code for the profile page */

body { /* sets the background color of the body portion of the page */
    background: rgba(255, 240, 156, 0.788); 
}

.navbar { /* customizes the nav bar */
    top: 0xp; 
    background: midnightblue;
    position: fixed;
    width: 100%; 
    text-align: center;
    z-index:300;
    /*got this z-index from this source: https://stackoverflow.com/questions/45967303/how-to-get-image-to-scroll-behind-navbar*/
}

.header {
    position: relative; 
    height: 100%; 
    width: 100%; 
}


.page-footer { /* customizes the footer */
    background-color: midnightblue;
    color: rgb(250, 250, 246);
    padding: 40px 0px 20 px 0 px;
    position: static;
    height: 30px; 
    width: 100%; 
    bottom: 0pt;
    left: 0pt;
    text-align: center;
}

